body{
  font-family: Verdana;
  background-color: black;
  color: white;
  text-align: center;
}
h1{
  font-weight: normal;
  font-size: 50px
}
h2{
  color: gray;
  font-size: 21px;
  font-weight: Normal;
}
h6{
  color: Aquamarine;
  font-size: 16px;
  font-weight: normal;
}
.link{
  color: aquamarine;
  font-family: Verdana;
  font-size: 16px;
}
#copyright{
  text-align: right;
}
